{% load static %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <!--logo-->
        <div class="logo">
            <a href="{{ page.url }}">
                <img src="{% static 'assets/img/logo-dark.png'%}" alt="" class="logo-dark">
                <img src="{% static 'assets/img/logo-white.png'%}" alt="" class="logo-white">
            </a>
        </div>
        <!--/-->

        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="index.html" data-toggle="dropdown"> Home </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item" href="index.html">Demo 1</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-2.html">Demo 2 </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-3.html">Demo 3 </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-4.html">Demo 4 </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-5.html">Demo 5</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="index-6.html">Demo 6 </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle active" href="blog-grid.html" data-toggle="dropdown"> Blog </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item active" href="blog-grid.html"> Blog grid</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="blog-masonry.html"> Blog masonry </a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="blog-list.html"> Blog list </a>
                        </li>
                    </ul>
                </li>
               

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Pages </a>
                    <ul class="dropdown-menu fade-up">
                        <li>
                            <a class="dropdown-item" href="about.html"> About </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="author.html"> author </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="login.html"> Login </a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="register.html"> Sign up </a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="page404.html"> Page 404 </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html"> Contact </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ request.user.username }}</a>
                </li>

 
                {% if request.user.user_type == "particulier" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'creer_projet' %}">Creer Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mes_projets' %}">Mes Projets</a>
                    </li>
                {% elif request.user.user_type == "professionnel" %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                {% endif %}
            
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer;">
                            Se déconnecter
                        </button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscription' %}">Inscription</a>
                </li>
                <li><a href="{% url 'login' %}">Se connecter</a></li>
            {% endif %}
              

            </ul>
        </div>
     
        <div class="navbar-right ml-auto">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="theme-toggle">
                    <input type="checkbox" id="theme-toggle" class="theme-toggle" />
                    <div class="slider round"></div>
                </label>
            </div>
            
            <div class="social-icones">
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="search-icon">
                <i class="icon_search"></i>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<!--/-->
    <!--category-->
    <section class="categorie-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="categorie-title"> 
                         <small>
                            <a href="index.html">Home</a>
                            <span class="arrow_carrot-right"></span> Food
                        </small>
                        <h3>Category : <span> Food</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>