{% load static %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <!--logo-->
        <div class="logo">
            <a href="{{ page.url }}">
                <img src="{% static 'assets/img/logo-dark.png'%}" alt="" class="logo-dark">
                <img src="{% static 'assets/img/logo-white.png'%}" alt="" class="logo-white">
            </a>
        </div>
        <!--/-->

        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'parcours' %}">Parcours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profession' %}">Profession</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nos_missions' %}">Nos missions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'credit' %}">Crédit</a>
                </li>


                {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard_conversations' %}">  📬 Mes Conversations </a>
                    </li>
                    
                {% if request.user.user_type == "particulier" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'roadmap' %}">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mes_projets' %}">Mes Projets</a>
                    </li>
                {% elif request.user.user_type == "professionnel" %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                {% endif %}
                
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer;">Se déconnecter
                        </button>
                    </form>
                </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="#">  👨‍💼 {{ request.user.username }}</a>
                    </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscription' %}">Inscription</a>
                </li>
                <li><a href="{% url 'login' %}">Se connecter</a></li>
            {% endif %}
              

            </ul>
        </div>
     
        <div class="navbar-right ml-auto">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="theme-toggle">
                    <input type="checkbox" id="theme-toggle" class="theme-toggle" />
                    <div class="slider round"></div>
                </label>
            </div>
            
            <div class="social-icones">
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="search-icon">
                <i class="icon_search"></i>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<!--/-->
    <!--category-->
    <section class="categorie-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="categorie-title"> 
                         <small>
                            <a href="index.html">Home</a>
                            <span class="arrow_carrot-right"></span> Food
                        </small>
                        <h3>Category : <span> Food</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>